$wisteria: #8e44ad;
$clouds: #ecf0f1;
$asbestos: #7f8c8d;
$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$charcoal: #453E4A;
$amethyst: #9b59b6;
$darkBlue: #333399;
$lightBlue: #3399FF;
$mediumBlue: #3366CC;
$silver: #bdc3c7;
$porcelain: #ECF0F1;
$smoke: #ECECEC;
$pumice: #D2D7D3;



$background: $porcelain;
$hover: $amethyst;


