.page {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    width: 700px;
    margin: 30px auto;
    color: black;
}


.messages {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        div {
            margin: 10px 0px;
            padding: 5px;
            text-align: center;
            background: #F0FAF9;
            border: 1px solid #DBF3F1;
            border-radius: 5px;
            min-height: 48px;
        }

        img {
            width: 100%;
        }
    }
}


