$deepBlack: #212121;
$black8: #424242;
$wisteria: #8e44ad;
$clouds: #ecf0f1;
$asbestos: #7f8c8d;
$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$charcoal: #453E4A;
$amethyst: #9b59b6;
$darkBlue: #333399;
$lightBlue: #3399FF;
$mediumBlue: #3366CC;
$silver: #bdc3c7;
$porcelain: #ECF0F1;
$smoke: #ECECEC;
$pumice: #D2D7D3;
$purple9: #9C27B0;
$seance: #9A12B3;
$purple05: #F3E5F5;
$grey7: #616161;
$grey8:$grey7;// #424242;
$redA7: #D50000;
$purple5: #9C27B0;



$background: $deepBlack;
$hover: $amethyst;


