<!doctype html>

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6878693250834653",
            enable_page_level_ads: true
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}Welcome{% endblock %} | Memes N' Stuff</title>
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=stylesheet) }}">
    {% endfor %}
    {% for stylesheet in FAstylesheets %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static/font-awesome-4.7.0/css', filename=stylesheet) }}">
    {% endfor%}
</head>


<body>
    <div class = "spacer"></div>
    <div class = "topbar">
        <div class = "left">
            <button onclick="location.href='{{ url_for('upload')}}'"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
        </div>
        <h1>Memes N' Stuff</h1> 
        {% if g.user %}
            <div class = "useraction">
                <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
            </div>
        {% else %}
            <div class = "useraction">
                <a href="{{ url_for('login') }}"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>
            </div>
        {% endif %}
    </div>
    <div class = "navigation">
        <div class = "hotTab" tabindex="1">
            <a href="{{ url_for('hot') }}" class ="fill-div">Hot</a> 
        </div>
        <div class = "freshTab" tabindex="2">
            <a href="{{ url_for('fresh') }}" class = "fill-div">Fresh</a>
        </div>
    </div>
    </div>
    <div class="page">
    {% block body %}{% endblock %}
    </div>
</body>
