<!doctype html>

<head>
    <title>{% block title %}Welcome{% endblock %} | Memes N' Stuff</title>
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=stylesheet) }}">
    {% endfor %}
</head>
<body>
    <div class = "topbar">
        <div class = "left">
            <button onclick="location.href='{{ url_for('upload')}}'">upload</button>
        </div>
        <h1>Memes N' Stuff</h1> 
        {% if g.user %}
            <div class = "usermenu">
                <button class = "dropbtn">{{g.user.username}}</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">sign out</a>
                </div>
            </div>
        {% else %}
            <div class = "loginbutton">
                <a href="{{ url_for('login') }}">Log in/Register</a>
            </div>
        {% endif %}
    </div>
    <div class = "navigation">
        <div class = "hotTab" tabindex="1">
            <a href="{{ url_for('hot') }}">hot</a> 
        </div>
        <div class = "freshTab" tabindex="2">
            <a href="{{ url_for('fresh') }}">fresh</a>
        </div>
    </div>
</div>
    {% with flashes = get_flashed_messages() %}
    {% if flashes %}
        <ul class="flashes">
        {% for message in flashes %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="page">
    {% block body %}{% endblock %}
    </div>
</body>
