@import 'variables.scss';
.navigation {
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0px;
    background: $background;
    height: 30px;
    padding: 0;
}

.hotTab {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border-right: 1px solid $seance;
}

.hotTab a {
    color: $purple05;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.hotTab:focus {
    background: $seance;
}



.freshTab {
    display: inline-block;
    width: 49%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.freshTab a {
    color: $purple05;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.freshTab:focus {
    background: $seance;
}
