@import 'variables.scss';

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    height: 60px;
    overflow: hidden;
}

.topbar h1 {
    color: $seance;
    display: inline-block;
    width: 33%;
    text-align: center;

}


.left {
    min-width: 33%;
    margin: 0 auto;
    display: inline-block;

}
.left button:hover {
    cursor:pointer;
}

.left button {
    border: none;
    color: $purple05;
    display: block;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    background: $background;
}

.useraction {
    min-width: 33%;
    margin: 0 auto;
    display: inline-block;
}


.useraction button {
    border: none;
    color: $purple05;
    display: block;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    background: $background;
}

.useraction button:hover {
    cursor:pointer;
}
