<!doctype html>

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6878693250834653",
            enable_page_level_ads: true
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}Welcome{% endblock %} | Memes N' Stuff</title>
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=stylesheet) }}">
    {% endfor %}
    {% for stylesheet in FAstylesheets %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static/font-awesome-4.7.0/css', filename=stylesheet) }}">
    {% endfor%}
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        var queue = []
        function getPostID()
        {
            var i = document.getElementsByClassName("memebox")[0];
            return  i.id;

        }
        function likePost()
        {
            var seance = "#9A12B3"
            document.getElementById( "lba").style.color = seance;
            document.getElementById( "dba").style.color = "gray";
            image = getPostID()
            url = image + "/like";
            nextImage();
            $.post(url);
            
        }
        function dislikePost()
        {
            var seance = "#9A12B3"
            document.getElementById("dba").style.color = seance;
            document.getElementById("lba").style.color = "gray";
            image = getPostID()
            url = image + "/dislike";
            nextImage();
            $.post(url);
        }
        function nextImage()
        {
            var ni = queue.shift();
            console.log(ni.caption);
            console.log(ni.image_url);
            console.log(ni.image);

            var capt = document.getElementById("caption");
            capt.innerHTML = ni.caption;

            var ig = document.getElementById("image");
            ig.src = ni.image_url;

            var mb = document.getElementsByClassName("memebox")[0];
            mb.id = ni.image;
        }

        function requestNextImageBatch()
        {
            var page = document.getElementsByClassName("memebox");
            var id = $(".memebox")[0].id;
            url = "";
            if(id != ""){
                console.log("THEFUCK");
                url = "api/{{session.page_title}}" + "?after=" + id;
            }
            else {
                url = "api/{{session.page_title}}";
            }
            console.log(url);
            $.get(url, function(data) { 
                console.log('UM HELLO');
                console.log(data);
                arr = data;//JSON.parse(data);
                for(i = 0; i < arr.length; i++)
                {
                    console.log("arr sub");
                    console.log(arr[i]);
                    queue.push( arr[i] );

                }
                console.log(queue);
            });
            console.log('end requestnew');
            console.log(queue);
        }

        window.onload = function() {
            requestNextImageBatch();
            nextImage();
        }
    </script>



</head>


<body>
    <div class = "spacer"></div>
    <div class = "topbar">
        <div class = "left">
            <button onclick="location.href='{{ url_for('upload')}}'"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
        </div>
        <h1>Memebrew</h1> 
        {% if g.user %}
            <div class = "useraction">
                <button onclick="location.href='{{ url_for('logout') }}'"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></button>
            </div>
        {% else %}
            <div class = "useraction">
                <button onclick="location.href='{{ url_for('login') }}'"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></button>
            </div>
        {% endif %}
    </div>
    <div class = "navigation">
        <div class = "hotTab" tabindex="1">
            <a href="{{ url_for('hot') }}" class ="fill-div">Hot</a> 
        </div>
        <div class = "freshTab" tabindex="2">
            <a href="{{ url_for('fresh') }}" class = "fill-div">Fresh</a>
        </div>
    </div>
    </div>
    <div class="page">
    {% block body %}{% endblock %}
    </div>
</body>
