{% extends "layout.html" %}
{% block title %}{{session.page_title}}{% endblock %}
{% block body %}
    {% if error %}
    <div class="error">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}
    {% with flashes = get_flashed_messages() %}
    {% if flashes %}
        <ul class="flashes">
        {% for message in flashes %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class = "memebox" id="">
        <h2 id = "caption"></h2>
        <img src="" id="image">
        <button class="like-button" id="like-button" onclick="likePost()"><i class="fa fa-arrow-up fa-3x" id="lba"></i></button>
        <button class="dislike-button" id="dislike-button" onclick="dislikePost()"><i class="fa fa-arrow-down fa-3x" id="dba" ></i></button>
    </div>
{% endblock %}
